{% extends "admin/layout.twig" %}
{% block title %}Topics Management{% endblock %}
{% block content %}
  <div class="container py-4">
    <h3>Topics</h3>
    <div id="topicsList"></div>
  </div>
{% endblock %}
