{#
Account Conflict Resolution Modal Container
Used when user tries to sign in with different provider for same email

Usage:
- Include this template in auth pages (login.twig, register.twig)
- JavaScript imports AccountConflictHandler from firebase/v2/account-conflict-handler.js
- Handler displays modal when conflict is detected
#}
<div id="accountConflictContainer"></div>
